{% extends '@SyliusCore/Email/layout.html.twig' %}

{% block subject %}
    #{{ order.number }} : {{ 'sylius_hipay_plugin.email.multibanco_reference.subject'|trans({}, 'messages', localeCode) }}
{% endblock %}

{% block content %}
    <p style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.45; color: #111111;text-align: left">{{ 'sylius_hipay_plugin.email.multibanco_reference.title'|trans({ '%orderNumber%': order.number }, 'messages', localeCode) }}</p>
    <table role="presentation" cellpadding="0" cellspacing="0" border="0" width="100%" style="font-family: Arial, Helvetica, sans-serif; font-size: 15px; line-height: 1.45; color: #111111;text-align: left">
        <tbody>
            <tr>
                <td style="padding: 6px 24px 6px 0; vertical-align: top; white-space: nowrap;">{{ 'sylius_hipay_plugin.email.multibanco_reference.label_entity'|trans({}, 'messages', localeCode) }}</td>
                <td style="padding: 6px 0; vertical-align: top;">{{ reference_to_pay.entity|default('N/A') }}</td>
            </tr>
            <tr>
                <td style="padding: 6px 24px 6px 0; vertical-align: top; white-space: nowrap;">{{ 'sylius_hipay_plugin.email.multibanco_reference.label_reference'|trans({}, 'messages', localeCode) }}</td>
                <td style="padding: 6px 0; vertical-align: top;">{{ reference_to_pay.reference|default('N/A') }}</td>
            </tr>
            <tr>
                <td style="padding: 6px 24px 6px 0; vertical-align: top; white-space: nowrap;">{{ 'sylius_hipay_plugin.email.multibanco_reference.label_amount'|trans({}, 'messages', localeCode) }}</td>
                <td style="padding: 6px 0; vertical-align: top;">{{ (reference_to_pay.amount * 100)|default(0)|sylius_format_money(reference_to_pay.currency|default('EUR'), localeCode) }}</td>
            </tr>
            <tr>
                <td style="padding: 6px 24px 6px 0; vertical-align: top; white-space: nowrap;">{{ 'sylius_hipay_plugin.email.multibanco_reference.label_expiration_date'|trans({}, 'messages', localeCode) }}</td>
                <td style="padding: 6px 0; vertical-align: top;">{{ reference_to_pay.expirationDate|default(reference_to_pay.expirationDatetime|default('1970-01-01'))|date('d/m/Y') }}</td>
            </tr>
        </tbody>
    </table>
    <p style="text-align: center; margin: 20px 0 0; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 1.5; color: #111111;">
        {{ 'sylius_hipay_plugin.email.multibanco_reference.instruction'|trans({}, 'messages', localeCode) }}
    </p>
{% endblock %}
